asgiref==3.8.1
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Django==3.2.25
django-bootstrap4==25.1
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
pytz==2025.2
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.2
typing_extensions==4.14.0
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
